Importing libraries:

In [15]:
# import libraries
import pandas as pd
import numpy as np
import os

Create data path:

In [16]:
# Create data path
path = r"C:\Users\Jason\Instacart Basket Analysis"

In [17]:
path

'C:\\Users\\Jason\\Instacart Basket Analysis'

In [18]:
# Importing ords_prods_merge from previous exercise
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prods_merge_derived.pkl'))

In [20]:
df = df_ords_prods_merge[:1000000]

In [21]:
df.shape

(1000000, 19)

In [22]:
df.head(10)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day
0,0,2539329,1,1,2,8,7.0,196,1,0,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders
1,0,2539329,1,1,2,8,7.0,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders
2,0,2539329,1,1,2,8,7.0,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders
3,0,2539329,1,1,2,8,7.0,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders
4,0,2539329,1,1,2,8,7.0,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders
5,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both,Slowest days,Average orders
6,1,2398795,1,2,3,7,15.0,10258,2,0,both,10258,Pistachios,117,19,3.0,both,Slowest days,Average orders
7,1,2398795,1,2,3,7,15.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,both,Slowest days,Average orders
8,1,2398795,1,2,3,7,15.0,13176,4,0,both,13176,Bag of Organic Bananas,24,4,10.3,both,Slowest days,Average orders
9,1,2398795,1,2,3,7,15.0,26088,5,1,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Slowest days,Average orders

In [23]:
# Drop specified columns and overwrite the original DataFrame
df_ords_prods_merge = df_ords_prods_merge.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', '_merge'])

In [27]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Regularly busy,Average orders
1,2539329,1,1,2,8,7.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders
2,2539329,1,1,2,8,7.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders
3,2539329,1,1,2,8,7.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders
4,2539329,1,1,2,8,7.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders

In [29]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prods_merge_derived.pkl'))