Importing libraries.

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

Create data path.

In [2]:
# Create data path
path = r"C:\Users\Jason\Instacart Basket Analysis"

In [5]:
# Importing ords_prods_merge
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prods_merge_derived.pkl'))

In [6]:
df_ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day
0,0,2539329,1,1,2,8,7.0,196,1,0,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders
1,0,2539329,1,1,2,8,7.0,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders
2,0,2539329,1,1,2,8,7.0,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders
3,0,2539329,1,1,2,8,7.0,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders
4,0,2539329,1,1,2,8,7.0,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders

In [7]:
# Drop specified columns and overwrite the original DataFrame
df_ords_prods_merge = df_ords_prods_merge.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', '_merge'])

In [8]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Regularly busy,Average orders
1,2539329,1,1,2,8,7.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders
2,2539329,1,1,2,8,7.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders
3,2539329,1,1,2,8,7.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders
4,2539329,1,1,2,8,7.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders

In [9]:
df_ords_prods_merge.to_pickle('orders_prods_merge_derived.pkl')

In [10]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prods_merge_derived.pkl'))